<html>
<head>

</head>
<body>
    <h2>Diabeties predictor</h2>
    <form action='/get_data' method="POST">
    <label>Pregnancies:</label> <input type="text" name="Pregnancies"> <br><br>
    <label>Glucose:    </label>	<input type="text" name="Glucose"> <br><br>
    <label>BloodPressure:</label><input type="text" name="BloodPressure"> <br><br>
    <label>SkinThickness:</label><input type="text" name="SkinThickness"> <br><br>	
    <label>Insulin:    </label>	<input type="text" name="Insulin"> <br><br>
    <label>BMI:        </label>	<input type="text" name="BMI"> <br><br>
    <label>DiabetesPedigreeFunction:</label><input type="text" name="DiabetesPedigreeFunction"> <br><br>	
    <label>Age:        </label>	<input type="text" name="Age"> <br><br>

    <input type="submit">
</form>

</body>
</html>